.title {
  text-align: center;
  font-size: 30px;
}

.card_style {
  height: 200px;
  width: 600px;
  align-items: center;
  margin: 20px 30px;
  border-radius: 20px;
  background-color: rgba(98, 98, 98, 0.479);
  box-shadow: 0px 5px 15px 5px #00000067;
}

.card_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 95%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.384);
  box-shadow: 0px 5px 15px 5px #00000067;
}

#stock_sn {
  position: relative;
  top: 20px;
  left: 35px;
  z-index: -1;
}

.logo {
  height: 100px;
  width: 100px;
  background: url(../pics/finance.png);
  margin-top: 35px;
  margin-left: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.card_info {
  display: flex;
  justify-content: space-between;
}

.card_info_det {
  margin-top: 10px;
}

.card_info h4 {
  margin-bottom: 20px;
  font-size: 15px;
}

.more_btn {
  border-radius: 20px;
  border: none;
  padding: 10px;
  height: 35px;
  width: 50px;
  margin-top: 80px;
  margin-right: 20px;
  cursor: pointer;
}

.not_logged_page {
  text-align: center;
  margin-top: 100px;
}
.not_logged_page h1 {
  font-size: 50px;
}

.filter_sec {
  background: rgba(62, 86, 102, 0.527);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  text-align: center;
  height: 170px;
  width: 550px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  box-shadow: 0px 5px 15px 5px #00000067;
}

.filter_sec select {
  padding: 10px;
  border: none;
  height: 30px;
  width: 200px;
  margin-right: 20px;
}

.filter_sec button {
  border: none;
  width: 60px;
  background: white;
  color: black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 30px;
  cursor: pointer;
}
